# main
numpy
torch
torchvision
jax
jaxlib
flax
optax
tqdm
scikit-learn
matplotlib
pandas
pathos
gymnasium[classic-control]
deluca
dill
pytorch-metric-learning
info-nce-pytorch
seaborn

# things for pykoopman
optht
pydmd
pykoopman
derivative
lightning

# hypergradient descent for baseline
git+https://github.com/gbaydin/hypergradient-descent.git

# for notebooks
ipykernel
jupyter
nbconvert[webpdf]
