# main
numpy
torch
torchvision
jax
jaxlib
tqdm
scikit-learn
matplotlib
pandas
pathos
gymnasium[classic-control]
deluca
dill

# hypergradient descent for baseline
git+https://github.com/gbaydin/hypergradient-descent.git

# for notebooks
ipykernel
jupyter
